<main class="main-content">
    <section class="banner">
        <div class="banner-info">
            <h1 class="banner-title">O melhor da culinária artesenal.</h1>
            <h2 class="banner-subtitle">Hamburgueres especiais preparados com ingredientes selecionados.</h2>
            <h1 class="banner-title">Um sabor inconfundível.</h1>
            <button class="order-button">
                Monte seu pedido abaixo
            </button>
        </div>
    </section>
    <section class="container">
        <div class="order-steps">
            <div *ngFor="let step of orderStep" class="order-step">
                <p class="order-step-title"> {{step.step}}</p>
                <p>{{step.content}}</p>
            </div>
        </div>
        <div class="order-menus">
            <button class="order-menu-title" (click)="toogleBurguerContentVisible()">Burguers</button>
            <div class="order-menu-grid" [ngClass]="{'visible':burguerContentVisible}" *ngIf="burguerContentVisible">
                <div *ngFor="let burguer of burguer" class="order-menu" [hidden]="!burguerContentVisible">
                    <img class="order-image" src={{burguer.image}}>
                    <div class="order-info">
                        <p class="order-info-title">{{burguer.burguerName}}</p>
                        <p>Ingredientes: {{burguer.ingredients}}</p>
                        <p>R${{burguer.price}}</p>
                    </div>
                    <button mat-raised-button color="primary" class="add-to-cart">
                        Adicionar
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-section">
        <img src="../../../assets/images/drinks/drink-banner.jpg" />
        <h1>Aproveite e peça também um de nossos acompanhamentos!</h1>
    </section>
    <section class="container">
        <div class="order-menus">
            <button class="order-menu-title" (click)="toogleDrinkContentVisible()">Drinks</button>
            <div class="order-menu-grid" [ngClass]="{'visible':drinkContentVisible}" *ngIf="drinkContentVisible">
                <div *ngFor="let drink of drink" class="order-menu" [hidden]="!drinkContentVisible">
                    <img class="order-image" src={{drink.image}}>
                    <div class="order-info">
                        <p class="order-info-title">{{drink.drinkName}}</p>
                        <p class="price">R${{drink.price}}</p>
                    </div>
                    <button mat-raised-button color="primary" class="add-to-cart">
                        Adicionar
                    </button>
                </div>
            </div>
        </div>
        <div class="where-to-find">
            <div class="where-to-find-info">
                <h1>Onde nós estamos localizados</h1>
                <p>...</p>
            </div>
            <div class="where-to-find-image">
                <img src="../../../assets/images/where-to-find.jpg" alt="Onde nos encontramos">
            </div>
        </div>
    </section>
</main>