<main class="main-content">
    <section class="banner">
        <div class="banner-info">
            <h1 class="banner-title">O melhor da culinária artesenal.</h1>
            <h2 class="banner-subtitle">Hamburgueres especiais preparados com ingredientes selecionados.</h2>
            <h1 class="banner-title">Um sabor inconfundível.</h1>
            <button class="order-button">
                Monte seu pedido abaixo
            </button>
        </div>
    </section>
    <section class="container">
        <div class="order-steps">
            <div *ngFor="let step of orderStep" class="order-step">
                <p class="order-step-title"> {{step.step}}</p>
                <p>{{step.content}}</p>
            </div>
        </div>
        <div class="order-menus">
            <div class="order-name-menu">
                <button class="order-menu-title" (click)="toogleBurguerContentVisible()">Burguers</button>
                <img [ngClass]="{'active': burguerContentVisible}" class="order-svg"
                    src="../../../assets/images/down-arrow.svg" />
            </div>
            <div class="order-menu-grid" [ngClass]="{'visible':burguerContentVisible}" *ngIf="burguerContentVisible">
                <div *ngFor="let burguer of burguer" class="order-menu" [hidden]="!burguerContentVisible">
                    <img class="order-image" src={{burguer.image}}>
                    <div class="order-info">
                        <p class="order-info-title">{{burguer.name}}</p>
                        <p class="order-info-ingredients">Ingredientes: {{burguer.ingredients}}</p>
                        <p class="order-info-price">R${{burguer.price}}</p>
                    </div>
                    <button (click)="addToCart(burguer)" mat-raised-button color="primary" class="add-to-cart">
                        Adicionar
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-section">
        <img src="../../../assets/images/drinks/drink-banner.jpg" />
        <h1>Aproveite e peça também um de nossos acompanhamentos!</h1>
    </section>
    <section class="container">
        <div class="order-menus">
            <div class="order-name-menu">
                <button class="order-menu-title" (click)="toogleDrinkContentVisible()">Drinks</button>
                <img [ngClass]="{'active': drinkContentVisible}" class="order-svg"
                    src="../../../assets/images/down-arrow.svg" />
            </div>
            <div class="order-menu-grid" [ngClass]="{'visible':drinkContentVisible}" *ngIf="drinkContentVisible">
                <div *ngFor="let drink of drink" class="order-menu" [hidden]="!drinkContentVisible">
                    <img class="order-image" src={{drink.image}}>
                    <div class="order-info">
                        <p class="order-info-title">{{drink.name}}</p>
                        <p class="order-info-price">R${{drink.price}}</p>
                    </div>
                    <button (click)="addToCart(drink)" *ngIf="!isLoggedIn()" mat-raised-button color="primary"
                        class="add-to-cart">
                        Adicionar
                    </button>
                </div>
            </div>
        </div>
        <div class="where-to-find">
            <div class="where-to-find-info">
                <h1>Visite nossas lojas físicas</h1>
                <div class="where-to-find-grid">
                    <div *ngFor="let location of location" class="where-to-find-card">
                        <p>{{location.location}}</p>
                        <button mat-flat-button color="primary" class="how-to-go">Como chegar</button>
                    </div>
                </div>
            </div>
            <div class="where-to-find-image">
                <img src="../../../assets/images/where-to-find.jpg" alt="Onde nos encontramos">
            </div>
        </div>
    </section>
</main>