button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.main-content {
    padding-top: 50px;
}

.container {
    width: 95%;
    margin: auto;

    @media screen and (min-width: 768px) {
        width: 90%;
    }
}

.banner {
    background-image: url('../../../assets/images/burguers/banner.jpg');
    min-height: 800px;
    width: 100%;
    object-fit: cover;
    background-position: center;
}

.banner-info {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;

    @media screen and (min-width: 640px) {
        max-width: 400px;
    }

    @media screen and (min-width: 768px) {
        max-width: 500px;
    }

    @media screen and (min-width: 1024px) {
        max-width: 800px;
    }

    .banner-title {
        font-family: var(--title-font);
        font-size: 2rem;
        letter-spacing: 3px;
        line-height: 2.5rem;

        @media screen and (min-width: 420px) {
            font-size: 2.5rem;
            line-height: 3rem;

        }

        @media screen and (min-width: 748px) {
            font-size: 3rem;
            line-height: 4rem;
        }

        @media screen and (min-width: 1024px) {
            line-height: 5rem;

            font-size: 4rem;
        }
    }

    ;

    .banner-subtitle {
        font-family: var(--body-font);
        font-size: 1rem;
        font-weight: 100;
    }

    .order-button {
        background-color: var(--tertiary-color);
        width: fit-content;
        border: none;
        padding: 10px;
        border-radius: 2px;
        font-family: var(--body-font);
    }
}

.order-steps {
    margin-top: 30px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: 640px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr)
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(5, 1fr);
    }

    .order-step {
        text-align: center;
        width: 100%;
        min-height: 110px;
        border-radius: 2px;
        display: flex;
        background-color: var(--tertiary-color);
        color: var(--main-color);
        flex-direction: column;
        border: 2px solid var(--tertiary-color-hover);
        font-family: var(--body-font);
        font-size: 12px;

        &:hover {
            transform: scale(1.01);
            transition: all 200ms ease-in-out
        }
    }

    .order-step-title {
        font-family: var(--title-font);
        text-decoration: underline;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;

        @media screen and (min-width: 640px) {
            font-size: 2.5rem;
        }

        @media screen and (min-width: 768px) {
            font-size: 3rem;
        }

        @media screen and (min-width: 1024px) {
            font-size: 3.5rem;
        }
    }
}

.order-menus {
    border: 2px solid var(--tertiary-color);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;

    .order-name-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: white;
        position: relative;

        .order-svg {
            height: 40px;
            width: 40px;
            color: white;
            position: absolute;
            right: 15px;
            transform: rotate(180deg);
            transition: all 300ms;
        }

        .order-svg.active {
            height: 40px;
            width: 40px;
            color: white;
            position: absolute;
            right: 15px;
            transform: rotate(0deg);
            transition: all 300ms;
        }

        .order-menu-title {
            color: white;
            font-family: var(--title-font);
            font-size: 1.5rem;
            text-align: center;

            @media screen and (min-width: 640px) {
                font-size: 3rem;
            }

            ;

            @media screen and (min-width: 768px) {
                font-size: 4.5rem;
            }
        }
    }

    ;

    .order-menu-grid.visible {
        display: grid;
        transform: translateY(0px);
        gap: 10px;
        transition: all 300ms ease;
        opacity: 1;
        grid-template-columns: repeat(2, 1fr);

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .order-menu-grid {
        transform: translateY(-100px);
        transition: all 300ms ease;
        opacity: 0
    }

    ;

    .order-menu {
        margin-bottom: 5px;
        align-items: center;
        gap: 10px;
        background-color: var(--gray-background);
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
        }
    }

    .order-image {
        object-fit: cover;
        border-radius: 5px;
        height: 110px;
        width: 100%;

        @media screen and (min-width: 1024px) {
            width: 140px;
            height: 120px;
        }

    }

    ;

    .order-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        color: white;
        font-family: var(--body-font);
        font-size: 14px;

        .order-info-title {
            font-family: var(--title-font);
            text-align: center;
            align-self: center;
            font-size: 1rem;

            @media screen and (min-width: 640px) {
                font-size: 1.5rem;
            }

            @media screen and (min-width: 768px) {
                font-size: 2rem;
            }
        }

        .order-info-ingredients {
            font-size: 12px;
            font-weight: 100;
            font-family: var(--body-font);
            @media screen and (min-width: 640px) {
                font-size: 15px;
            }

            @media screen and (min-width: 768px) {
                font-size: 17px;
            }
        }

        .order-info-price {
            font-size: 14px;
            color: var(--tertiary-color);

            @media screen and (min-width: 640px) {
                font-size: 16px;
            }
        }
    }

    ;
}

.add-to-cart {
    padding: 10px 15px;
    border-radius: 3px;
    font-family: var(--body-font);
    background-color: var(--tertiary-color);
    width: 100%;

    @media screen and (min-width: 768px) {
        width: fit-content;
    }
}

.contact {
    .contact-title {
        font-size: 5rem;
        color: white;
        font-weight: bold;
        font-family: var(--title-font);
    }
}

.banner-section {
    margin-top: 50px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 480px;
        object-fit: cover;
    }

    h1 {
        position: absolute;
        top: 40%;
        text-align: center;
        color: white;
        font-family: var(--title-font);
        font-size: 2rem;
        letter-spacing: 2px;

        @media screen and (min-width: 640px) {
            font-size: 3rem;
        }

        @media screen and (min-width: 1024px) {
            font-size: 4rem;
        }
    }
}

.where-to-find {
    width: 100%;
    margin-top: 15%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: auto;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
    }

    .where-to-find-info {
        padding: 15px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;

        h1 {
            letter-spacing: 2px;
            font-family: var(--title-font);
            text-align: center;
            align-self: center;
            font-size: 1.5rem;
            text-align: center;

            @media screen and (min-width: 640px) {
                font-size: 3rem;
            };

            @media screen and (min-width: 768px) {
                font-size: 4.5rem;
            }

            @media screen and (min-width: 1024px) {
                text-align: start;
            }
        }

        .where-to-find-grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;

            @media screen and (min-width: 440px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (min-width: 1024px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .where-to-find-card {
                display: flex;
                flex-direction: column;
                gap: 20px;
                justify-content: center;
                align-items: center;
                padding: 15px;
                background-color: rgb(27, 27, 27);
                border-radius: 3px;
                width: 100%;
                flex-wrap: wrap;

                @media screen and (min-width: 1024) {
                    width: 70%;
                }

                p {
                    font-family: var(--body-font);
                    font-size: 1rem;
                    font-weight: 100;

                    @media screen and (min-width: 768px) {
                        font-size: 1.3rem;
                    }
                }

                .how-to-go {
                    font-family: var(--body-font);
                    width: 100%;
                    font-size: 12px;
                    @media screen and (min-width: 768px){
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .where-to-find-image {
        flex: 1;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
            height: 500px;

            @media screen and (min-width: 768px) {
                height: 700px;
            }
        }
    }
}

.price {
    font-size: 16px;
    font-weight: bold;
    font-family: var(--body-font);
}