.login {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .login-outer {
        padding: 15px;
        height: auto;
        min-height: 300px;
        border: 2px solid var(--tertiary-color);
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        width: 95%;

        @media screen and (min-width: 640px) {
            width: 70%;
        }

        @media screen and (min-width: 768px) {
            width: 50%;
        }

        @media screen and (min-width: 1024px) {
            width: 30%;
        }

        .login-wrapper {
            padding: 5px;
            display: flex;
            flex-direction: column;
            gap: 25px;

            .login-title {
                color: white;
                font-family: var(--title-font);
                text-align: center;
                font-size: 1rem;
                font-weight: 100;
                @media screen and (min-width: 768px){
                    font-size: 1.3rem;
                }
            }

            .login-form {
                display: flex;
                flex-direction: column;
                gap: 40px;
                justify-content: center;
                align-items: center;

                .login-input {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .login-input-wrapper {
                        width: 100%;
                        position: relative;
                        display: flex;
                        flex-direction: row;

                        label {
                            position: absolute;
                            left: 0;
                            font-size: 14px;
                            padding: 0px 5px;
                            color: white;
                            z-index: 0;
                            font-family: var(--body-font);
                        }

                        .input-control::placeholder{
                            color: transparent;
                        }
                        .input-control:focus~label, .input-control:not(:placeholder-shown)~label {
                            transform: translateY(-120%);
                            left: -5px;
                            font-size: 12px;
                            pointer-events: none;
                            transition: all 200ms;
                        }

                    }

                    input {
                        width: 100%;
                        background-color: transparent;
                        border: none;
                        border-bottom: 2px solid var(--tertiary-color);
                        color: white;
                        padding: 5px 0px;
                    }
                }
            }
        }

    }
}

.btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border: none;
    background-color: var(--tertiary-color);
    color: var(--main-color);
    font-weight: bold;
    font-family: var(--body-font);
    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background-color: var(--tertiary-color-hover);
        transition: all 200ms ease-in-out;
    }
}

.text-error {
    color: rgb(207, 54, 54);
    font-size: 12px;
    font-family: var(--body-font);
    align-self: flex-start;
}

.no-account {
    align-self: flex-end;
    color: white;
    font-size: 12px;
    font-family: var(--body-font);

    a {
        text-decoration: underline;
        color: var(--tertiary-color);
    }
}

.forgot-pass {
    font-size: 14px;
    color: white;
    font-family: var(--body-font);
    button {
        font-family: var(--body-font);
        color: var(--tertiary-color);
        text-decoration: underline;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.modal-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 250px;
    border: 2px solid var(--tertiary-color);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 95%;
        
        @media screen and (min-width: 640px) {
            width: 70%;
        }

        @media screen and (min-width: 768px) {
            width: 50%;
        }

        @media screen and (min-width: 1024px) {
            width: 30%;
        }

    .modal-wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: relative;
        height: 100%;

        .modal-title {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            gap: 4px;
            .modal-title-info{
                text-align: center;
                font-size: 14px;
                font-family: var(--body-font);
            }
            h1 {
                font-family: var(--title-font);
                text-align: center;
                font-size: 2rem;
                @media screen and (min-width: 768px){
                    font-size: 2.5rem;
                }
            }
        }

        .close-btn {
            position: absolute;
            right: 0;
            top: 0;
            color: white;
            font-size: 1rem;
            font-family: var(--body-font);
            cursor: pointer;
        }

        .modal-content {

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .modal-input-wrapper {
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: row;
                
                label {
                    position: absolute;
                    left: 0;
                    font-size: 14px;
                    padding: 0px 5px;
                    color: white;
                    z-index: 0;
                    font-family: var(--body-font);
                }
                .modal-control::placeholder{
                    color: transparent;
                }
                .modal-control:focus~label, .modal-control:not(:placeholder-shown)~label{
                    transform: translateY(-120%);
                    left: -5px;
                    font-size: 12px;
                    pointer-events: none;
                    transition: all 200ms;
                }   
            }

            input {
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid var(--tertiary-color);
                color: white;
                padding: 5px 0px;
            }

        }
    }
}

.modal-btn-submit{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        border: none;
        background-color: var(--tertiary-color);
        color: var(--main-color);
        font-weight: bold;
        font-family: var(--body-font);
        font-size: 14px;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 30px;
        &:hover {
            background-color: var(--tertiary-color-hover);
            transition: all 200ms ease-in-out;
        }
}

