<footer class="footer-main">
    <div class="footer-wrapper">
        <div class="footer-infos">
            <h1>Endereço da hamburgueria</h1>
            <div class="footer-info-data">
                <p>Rua Pedro Álvares Cabral, 1500 - São Paulo, SP - Brasil.</p>
                <p>Rua Pedro Álvares Cabral, 1500 - Belo Horizonte, MG - Brasil.</p>
                <p>Rua Pedro Álvares Cabral, 1500 - Rio de Janeiro, RJ - Brasil.</p>
            </div>
        </div>
        <div class="footer-infos">
            <h1>Telefones de contato</h1>
            <div class="footer-info-data">
                <p> (32) 99846-8722</p>
                <p> (11) 99999-9998</p>
                <p> (11) 99999-9999</p>
            </div>
        </div>
        <div class="footer-infos">
            <h1>Horário de funcionamento</h1>
            <div class="footer-info-data">
                <p>Segunda ás Quintas - 18:30 às 23:30</p>
                <p>Sexta à Domingo - 17:00 - 00:30</p>
                <p>Feriados - 17:00 - 23:30</p>
            </div>
        </div>
        <div class="footer-infos">
            <h1>Horário de Delivery</h1>
            <div class="footer-info-data">
                <p>Segunda às Quintas - 19:00 ás 23:00</p>
                <p>Sexta à Domingo - 17:30 - 00:00</p>
                <p>Feriados - 17:30 - 23:00</p>
            </div>
        </div>
    </div>
    <div class="footer-owner">
        Feito com &hearts; por Augusto de Paula
    </div>
</footer>