.footer-main{
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    background-color: var(--tertiary-color);
    margin-top: 10%;
    color: var(--main-color);
    padding: 20px 0px;
    .footer-wrapper{
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media screen and (min-width: 768px){
            flex-direction: row;
        }
        .footer-infos{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
            
            h1{
                font-weight: bold;
                font-size: 1.5rem;
                font-family: var(--title-font);
            }
            .footer-info-data{
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                align-items: center;
                font-family: var(--body-font);
            }
        }
    }


    .footer-owner{
        text-align: center;
        width: 100%;
        font-size: 12px;
        font-family: var(--body-font);
    }

}
