<mat-toolbar>
    <div class="header">
        <a routerLink="" class="logo">
            <img class="logo-image" src="../../../assets/logo.png" />
            <h1>AD's Burguers</h1>
        </a>
        <div class="header-wrapper">
            <div class="desktop">
                <a *ngIf="isLoggedIn()" routerLink="home" routerLinkActive="active-link">Início</a>
                <a *ngIf="isLoggedIn()" routerLink="cart" routerLinkActive="active-link" >Carrinho</a>
                <button mat-flat-button color="primary" class="accountBtn" *ngIf="!isLoggedIn()" routerLink="login"
                    routerLinkActive="active-link">Login</button>
                <button mat-flat-button class="accountBtn" color="primary" *ngIf="isLoggedIn()"
                    (click)="logOut()">Logout
                </button>
            </div>
            <div class="mobile">
                <button (click)="toogleSideNav()" mat-icon-button class="header-icon">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="isSideNavOpen" mode="side">
        <ul class="sidenav-items">
            <li *ngIf="isLoggedIn()" routerLink="">Início</li>
            <li *ngIf="isLoggedIn()" routerLink="cart">Carrinho</li>
            <button mat-flat-button color="primary" class="accountBtn" *ngIf="!isLoggedIn()" routerLink="login"
                routerLinkActive="active-link">Login</button>
            <button mat-flat-button color="primary" (click)="logOut()" *ngIf="isLoggedIn()"
                class="accountBtn">Logout</button>
        </ul>
    </mat-sidenav>
</mat-sidenav-container>