<nav>
    <div class="header">
        <div class="logo">
            Logo
        </div>
        <div>
            <div class="desktop">
                <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Início</a>
                <a routerLink="menu" routerLinkActive="active-link">Contato</a>
                <a routerLink="cart" routerLink="active-link">Carrinho</a>
                <a routerLink="contact" routerLinkActive="active-link">Login</a>
            </div>
            <div class="mobile">
                <button mat-icon-button>
                    menu
                </button>
            </div>
        </div>
    </div>
</nav>