<main class="cart-container">
    <section class="cart-section">
        <div class="section-item">
            <div class="item-wrapper">
                <div class="item-image">
                    <img src="" alt="">
                </div>
                <div class="item-infos">
                    <div class="item-details">
                        <p>Nome</p>
                        <p>Preço</p>
                    </div>
                    <button mat-flat-button color="primary" >Excluir</button>
                </div>
            </div>
        </div>
    </section>
    <aside class="cart-sidebar">
        <h1 class="sidebar-title">Total das compras</h1>
        <div>

        </div>
        <div class="sidebar-buttons">
            <button mat-flat-button color="primary">Finalizar Pedido</button>
            <button mat-stroked-button color="primary" >Comprar mais</button>
        </div> 
    </aside>
</main>
