$mainColor: #007aff;
$mainColorHover: #0261c9;
$secondaryColor: #343434;
$secondaryColorHover: #242424;
$tertiaryColor: #f8e367;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    background-color: rgb(245, 245, 245);
}